body {
    background-color: #8ba1bb;
    font-weight: arial; 
    margin: 0;
    padding: 0; 
}



p.cat{
    background-color: black  ;
    color: white;
    display: inline-block; 
    padding: 5px 15px ;
    margin-bottom: 0;
    
}


div.contenu{
    background-color: white;
    margin: 0px 10% 30px 10%;
    padding: 30px;
    min-width: 300px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

p.description{
    max-width: 400px;
    display: inline-block;
    font-size: 16px;

}
div.description{
   text-align: center; 
}

div.categories{
   margin-bottom: -15px;
   font-size: 16px;
   font-weight: bold;
}

h1{
    text-align: center;  
    margin-top: 0;
    margin-bottom: 15px;
}

div.separateur{
    width: 100px;
    height: 1px;
    background-color: #8ba1bb;
    margin-left: auto;
    margin-right: auto;
}

.center{
    width: 100%;
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgray;

}

div.tab{
    position: relative;  
}
.info{
    position:absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #6c829dc0;    
    height: 8vh;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.info th{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.info td{
    text-align: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
div.colonne{
    width: 45%;
}

div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 5px solid #6c829d;
}
div.colonne ul{
    padding: 0;
   list-style: none; 
}
div.colonne ol{
   
    
    
}
div.colonne ul li{
   padding: 7px 50px 7px ;
   border: 1px solid lightgray;
   margin: 4px;
}
div.colonne1{
    display:inline-block;
    margin-right: 10%;

}
div.colonne2{
    float: right;
}

table.preparation p{
    background-color: #6c829d; 
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    font-weight: bolder;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding-top: 4px;
   
}

table.preparation tr td:nth-last-child(1){
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 0px;
    height: 45px;
}


.preparation td {
    letter-spacing: 1px;
   vertical-align: top;
  }

  *{
    overflow: auto;
  }
 


 
  
  
  

  

